---
layout: main
title: "Projects"
permalink: /projects/
---

<h1>Projects-Coming soon...</h1>

<!-- Debug Output -->
<!-- 
{% assign projects_posts = site.posts | where: "categories", "projects" %}

{% if projects_posts %}
  {% for post in projects_posts %}
    <article class="post">
      {% if post.img %}
        <a class="post-thumbnail" style="background-image: url('{{ site.baseurl }}/assets/img/{{ post.img }}')" href="{{ post.url | prepend: site.baseurl }}"></a>
      {% endif %}
      <div class="post-content">
        <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | markdownify }}</a></h2>
        <p>{{ post.description | markdownify }}</p>
      </div>
    </article>
  {% endfor %}
{% else %}
  <p>No projects found.</p>
{% endif %} -->

{% include pagination.html %}